<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="stylesheet" href="../Static/css/home.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name =  "viewport" content="width=device-width, initial-scale=1.0">
        <title>Macowins</title>
    </head>
    <body>
        <header>
            <a href="home.html">Inicio</a>
            <a href="prendas.html">Productos</a>
            <a href="contacto">Contacto</a>
        </header>
        <section class="Bienvenida">
            <h1>MacoWins</h1>
            <h2>Te damos la bienvenida a MacoWins</h2>
            <section class="about">
                <h2>Productos</h2>
                    <ul>
            <img src="https://img.ltwebstatic.com/images3_pi/2022/04/08/164938212993724e3917f334b2ceb218871c2863e0.webp" class="img1">
                        <li>Pantalones</li>
            <img src="https://cdn.quiksilver.com.ar/media/catalog/product/cache/2c567871808060a6c6ba6753e18925bd/2/2/2231102284-39_2.png" alt="Remeras" class="img2">
                        <li>Remeras</li>
                    </ul>
            </section>
        </section> 
        <footer>
            <section class="contacto">
                <div class="contenedor-footer">
                    <div class="content-foo">
                        <h4>Telefono</h4>
                        <p>4742-3214 </p>
                    </div>
                    <div class="content-foo">
                        <h4>Email</h4>
                        <p>macowins@mail.com</p>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>

