<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/conclusiones.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap"rel="stylesheet">
    <title>Conclusiones</title>
</head>
<body>
    <header>
        <a href="home.html">Inicio</a>
        <a href="resultados.html">Resultados</a>
        <a href="conclusiones.html">Conclusiones</a>
    </header>
    <section class="parte-violeta">
        <div class="cuadrado-amarillo"></div>
        <h1>CONCLUSIONES</h1>
    </section>
    <section class="parte-amarilla">
        <p>Escribi aca un detalle de las conclusiones que sacaste</p>
    </section>
    <div class="img-div">
        <img src="https://www.mghassany.com/courses/MLcourse/img/iris.png" alt="Datos" class="imagen">
    </div>
    </section>
    <section class="green-section">
        <h4>Autoria anonima</h4>
    </section>
</body>
</html>