<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Libreria</title>
</head>
<body>
    <section class="rect-chico">
        <div class="circulo-rojo"></div>
        <div class="circulo-amarillo"></div>
        <div class="circulo-verde"></div>
    </section>
    <section class="rect-grande">
            <h2>EN UN CLICK</h2>
            <h1 class="con-borde">LIBRERIA</h1>
            <div class="buscar">
                <a href="https://www.tomy.com.ar/libreria">
                <button>BUSCAR</button>
            </a>
            </div>
            <img src="https://w7.pngwing.com/pngs/511/240/png-transparent-computer-mouse-pointer-cursor-computer-icons-icon-hand-hand-symbol-stock-photography-thumbnail.png" alt="mouse" class="mouse">
    </section>
</body>
</html>